@import "../styles";

body.about {
  .container {
    .content {
      min-height: 300px;
    }
    nav {
      border-bottom: none;
    }
  }
  section {
    float: left;
    padding-right: 20px;
    width: 100%;
    @include box-sizing(border-box);

    h1 {
      @include font-size(45);
      border-bottom: 2px solid $Neon-Orange;
      margin-bottom: 0;
    }
    ul {
      list-style: none;
      padding-left: 0;
      margin-top: 10px;

      li {
        @include font-size(25);
      }
    }
  }
}
@include mq(600px) {
  body.about {
    section {
      min-height: 200px;
      width: 50%;

      h1 {
        @include font-size(45);
      }
      ul {
        li {
          @include font-size(25);
        }
      }
    }
  }
}
@include mq(768px) {
  body.about {
    section {
      width: 33%;

      h1 {
        @include font-size(50);
      }
      ul {
        li {
          @include font-size(30);
        }
      }
    }
  }
}