@import "../styles";

body.about {
  .container {
    .content {
      min-height: 300px;
    }
  }
  section {
    float: left;
    padding-right: 20px;
    width: 100%;
    @include box-sizing(border-box);

    h1 {
      @include font-size(20);
      border-bottom: 2px solid $Neon-Orange;
    }
    ul {
      list-style: none;
      padding-left: 0;

      li {
        @include font-size(16);
      }
    }
  }
}
@include mq(600px) {
  body.about {
    section {
      width: 50%;
      min-height: 200px;
    }
  }
}
@include mq(768px) {
  body.about {
    section {
      width: 20%;
    }
  }
}