@import "normalize";

@import "../styles";

.center {
  text-align: center;
}

.clearfix {
  overflow: auto;
  clear: both;
}

a {
  img {
    @include transform(scaleX(1) scaleY(1));
    @include transition(transform .2s ease, z-index .2s ease);
    z-index: 0;

    &:hover {
      @include transform(scaleX(.98) scaleY(.98));
      z-index: 1;
    }
  }
}

html {
  font-size: 62.5%;
  background: $gray;

  ::selection {
    background: $Neon-Orange; /* Safari */
    color: $dark-gray;
    @include text-shadow(none);
  }
  ::-moz-selection {
    background: $Neon-Orange; /* Firefox */
    color: $dark-gray;
    @include text-shadow(none);
  }

  &.lt-ie9 {
    #header .brian-anders {
      z-index: 1;
      position: relative;
    }
    #animated-profile {
      background-image: url('/images/profile.jpg');
      background-position: center bottom;
      background-repeat: no-repeat;
    }
  }
}

body {
  @include font-size(24);
}

h1, h2, h3 {
  font-family: $Raleway;
  font-weight: 100;
  @include text-shadow(0px 1px 0px $text-border,
                       0px 2px 0px $text-border);
  color: $Neon-Orange;
}

h1 {
  @include font-size(40);
  margin: 20px 0;
}

h2 {
  @include font-size(34);
}

h3 {
  @include font-size(30);
}

nav {
  @include font-size(30);
  font-family: $Raleway;
  font-weight: 100;
  overflow: hidden;
  border-bottom: 1px solid $dark-gray;

  .nav-container {
    max-width: 1040px;
    margin: auto;
  }

  a {
    width: 50%;
    display: block;
    float: left;
    text-align: center;
    padding: 13px 0;
    @include box-sizing(border-box);
    border-left: 1px solid $dark-gray;

    &:hover {
      color: $Neon-Orange;
      background: $dark-gray;
    }
  }
}

.container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: $gray;
  z-index: 1;
  @include box-sizing(border-box);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: $Neon-Orange;

  &:hover {
    color: inherit;
  }
}

p, blockquote {
  a {
    color: $Neon-Orange;
  }
}

#header {
  position: relative;
  width: 100%;
  height: 400px;
  display: block;
  font-family: $Raleway;
  font-weight: 100;
  background: $dark-gray;
  border-bottom: 1px solid $border-color;
  border-top: 1px solid $gray;
  @include transition(height .2s ease);

  .profile {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: -50px;
  }
}

#animated-profile {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  height: 350px;
  width: 435px;
  left: 50%;
  margin-left: -217.5px;

  @include transition(height .2s ease);

  > path {
    stroke: 0;
    stroke-width: 4px;
    @include transition(stroke-dashoffset 10s ease-in-out, fill 5s ease, height .2s ease);
  }
}

.brian-anders {
  margin: 0 auto;
  padding: 30px 20px 0;
  width: 100%;
  max-width: 1040px;
  @include font-size(40);
  font-weight: 100;
  color: $Neon-Orange;
  text-align: center;
  @include box-sizing(border-box);
}

.content {
  width: 100%;
  max-width: 1080px;
  display: block;
  overflow: hidden;
  margin: 20px auto;
  font-family: $Raleway;
  font-weight: 100;
  color: $text-gray;
  padding: 0 20px;
  @include box-sizing(border-box);
  min-height: 400px;
}

.blog-date {
  color: $text-gray;
  @include font-size(20);
  margin-top: 10px;
}

p {
  @include font-size(20);
  line-height: 1.5;
  font-family: $Raleway;
  font-weight: 100;
  -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;

  span {
    font-family: Helvetica;
  }
}

#back {
  line-height: 40px;
  width: 120px;
  color: $text-gray;
  height: 40px;
  display: inline-block;

  span {
    display: inline-block;
  }
  .chevron {
    text-align: center;
    width: 40px;
    border-radius: 40px;
    background: #3a3a3a;
    @include transition(background .2s ease);

    b {
      position: relative;
      top: -2px;
    }
  }
  .button {
    opacity: 0;
    @include transition(opacity .2s ease);
  }

  &:hover {
    .chevron {
      background: $dark-gray;
    }
    .button {
      opacity: 1;
    }
  }
}

.links {
  background: $dark-gray;
  text-align: center;
  overflow: hidden;

  .link-container {
    width: 100%;
    max-width: 1040px;
    height: 100%;
    margin: auto;
    @include box-sizing(border-box);
  }

  .link {
    width: 20%;
    height: 60px;
    float: left;

    &.instagram {
      background: #517FA4;
    }
    &.twitter {
      background: #3cf;
    }
    &.lastfm {
      background: #E02F2F;
    }
    &.linkedin {
      background: #328FF1;
    }
    &.github {

    }
  }

  a {
    line-height: normal;
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    color: #FFF;
    @include box-sizing(border-box);
  }
  img {
    display: block;
    margin: 5px auto;
    z-index: 1;
    position: relative;
    @include transform(translateY(0px));
    @include transition(transform .5s ease);
  }
  span {
    position: relative;
    @include font-size(12);
    display: block;
    margin-top: -20px;
    padding-top: 7px;
    opacity: 0;
    @include transform(translateY(-26px));
    @include transition(transform .5s ease, opacity .5s ease);
  }
}

.foot {
  text-align: center;
  font-family: $Raleway;
  @include font-size(20);
  font-weight: 100;
  float: left;
  width: 100%;
  padding: 10px;
  color: $text-gray;

  a {
    @include font-size(12);
  }
  span {
    display: block;
  }
}

@include mq(600px) {
  a.nav {
    top: 1px;
  }
  #header {
    height: 500px;

    .brian-anders {
      text-align: left;
    }
    .profile {
      #animated-profile {
        left: auto;
        margin-left: auto;
        height: auto;
        width: auto;
        height: 98%;
        width: 100%;
      }
    }
  }
  .content p {
    @include font-size(24);
  }
  .links {
    a {
      &:hover {
        img {
          @include transform(translateY(-10px));
        }
        span {
          opacity: 1;
          @include transform(translateY(-10px));
        }
      }
    }
    .link {
      height: 90px;
    }
    img {
      margin: 20px auto;
    }
  }
}
@include mq(768px) {
  #header {
    .brian-anders {
      @include font-size(50);
    }
    .profile {
      .profile-link {
        background-size: 550px;
      }
    }
  }
}
@include mq(1080px) {
  #header {
    .brian-anders {
      padding: 30px 0 0;
      @include font-size(70);
    }
  }
}

html.lt-ie9.nr {
  .content {
    max-width: 1040px;
  }
  .links {
    a {
      &:hover {
        span {
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        }
      }
    }
    span {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      width: 100%;
    }
  }
}

@import "index";
@import "work";
@import "four-oh-four";