@import "../styles";

body.blog {
  .blog-date {
    color: $text-gray;
    @include font-size(20);
    margin-top: 10px;
  }
  nav {
    a.blog {
      background: $dark-gray;
      color: $Neon-Orange;
      border-left: 1px solid $gray;

      &:hover {
        background: $dark-gray;
        color: $Neon-Orange;
        cursor: default;
      }
    }
  }
  .dot-dot-dot {
    @include font-size(60);
    line-height: 10px;
  }
  .blog_tile {
    line-height: 1.5;
    width: 100%;
    display: block;
    float: left;
    padding-right: 30px;
    overflow: hidden;
    border-radius: 4px;
    @include box-sizing(border-box);
    color: $text-gray;
    margin-bottom: 30px;
    position: relative;

    h2 {
      margin: 0;
      line-height: 1;
    }
    time {
      @include font-size(16);
      line-height: 1;
    }

    a {
      color: $Neon-Orange;

      &:hover {
        color: $text-gray;
      }
    }
  }

  a.image-holder {
    width: 100%;
    display: block;
    margin-bottom: .5em;
    img {
      width: 100%;
      display: block;
    }
    &.panorama {
      img {
      }
    }
    &.last {
      margin-bottom: 0;
    }
  }
  div {
    &.row {
      overflow: hidden;
    }
    &.apple-map {
      @include columns(4);
      @include image-2x('/images/blog/AppleCampus2/1x/apple-campus-2-map.jpg', '/images/blog/AppleCampus2/2x/apple-campus-2-map.jpg');
      background-position: center center;
      background-repeat: no-repeat;
      padding-top: 49.549718023%;
      float: left;
      background-size: auto 100%;
      margin-left: 0;
    }
    &.apple-rendering {
      @include columns(8);
      @include image-2x('/images/blog/AppleCampus2/1x/Apple_Campus_2_rendering.jpg', '/images/blog/AppleCampus2/2x/Apple_Campus_2_rendering.jpg');
      background-position: center center;
      background-repeat: no-repeat;
      padding-top: 49.549718023%;
      float: left;
      background-size: auto 100%;
      margin-right: $gutter;
    }
  }
  blockquote {
    border-left: 5px solid $Neon-Orange;
    margin: 0;
    padding: 40px;

    p {
      margin: 0;
    }
  }
}

@include mq(550px) {
  body.blog {
    .blog_tile {
      width: 50%;
    }
  }
}