@import "../styles";

body.blog {
  .container {
    nav {

      a.blog {
        background: $dark-gray;
        color: $Neon-Orange;
        border-left: 1px solid $gray;

        &:hover {
          background: $dark-gray;
          color: $Neon-Orange;
          cursor: default;
        }
      }
    }
    a.blog-back {
      background: $dark-gray;
      padding: 10px;
      border-radius: 10px;
      display: inline-block;
    }
    blockquote {
      border-left: 5px solid $Neon-Orange;
      margin: 0;
      padding: 40px;

      p {
        margin: 0;
      }
    }
  }
}