@import "../styles";

body.blog {
  .container {
    nav {

      a.blog {
        background: $dark-gray;
        color: $Neon-Orange;

        &:hover {
          background: $dark-gray;
          color: $Neon-Orange;
          cursor: default;
        }
      }
    }
    blockquote {
      border-left: 5px solid $Neon-Orange;
      margin: 0;
      padding: 1rem 40px
    }
  }
}