@import "../styles";

body.four-oh-four {
  section {
    overflow: hidden;

    h1 {
      @include font-size(50);
      text-align: center;

      a {
        &:hover {
          color: $Neon-Orange;
          @include text-shadow(1px 1px 0 $text-gray,
                               2px 2px 0 $text-gray,
                               3px 3px 0 $text-gray);
        }
      }
    }
    .row {
      clear: both;
    }
    h2.key {
      @include font-size(35);
      display: inline-block;
      @include box-sizing(border-box);
      float: left;
      margin: 0;

      &.i {
        font-weight: 300;
      }
    }
    p.def {
      @include font-size(25);
      @include box-sizing(border-box);
      float: left;
    }
    .i {
      font-style: oblique;
    }
  }
}
@include mq(700px) {
  body.four-oh-four {
    section {
      h2.key {
        width: 25%;
        text-align: right;
        margin: 30px 0;
      }
      p.def {
        width: 75%;
        text-align: left;
        padding: 13px;
      }
    }
  }
}