@import "../styles";

body.index {
  .back {
    h1 {
      @include font-size(30);
    }
    h2 {
      @include font-size(26);
    }
    h3 {
      @include font-size(20);
    }
    h4 {
      @include font-size(16);
    }
    h5 {
      @include font-size(12);
    }
  }
  .container {
    .content {
      min-height: 300px;
    }
    nav {
      border-bottom: 1px solid $gray;

      a.index {
        color: $Neon-Orange;
        background: $dark-gray;

        &:hover {
          background: $dark-gray;
          color: $Neon-Orange;
          cursor: default;
        }
      }
    }
    section {
      @include columns(12);
      margin-bottom: 30px;
      @include box-sizing(border-box);
      position: relative;
      margin: auto;
      overflow: hidden;
      @include transition(height 0.5s ease);
      height: 0px;

      > h2 {
        @include columns(12);
        display: none;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0;
        @include font-size(40);
        font-family: $Raleway;
        font-weight: 100;
        @include text-shadow(0px 1px 0px $bottom-border,
                             0px 2px 0px $bottom-border);
        color: $Neon-Orange;
        @include box-sizing(border-box);
        @include transition(font-size .5s ease);
      }

      &.loaded {
        height: auto;
      }
    }
    div#section-buttons {
      overflow: hidden;
      height: auto;

      button {
        @include columns(12);
        margin: 0;
        border: none;
        display: block;
        float: left;
        padding: 10px 0;
        text-align: center;
        background: none;

        @include font-size(28);
        font-family: $Raleway;
        font-weight: 100;
        @include text-shadow(0px 1px 0px $bottom-border,
                             0px 2px 0px $bottom-border);
        color: $Neon-Orange;
        @include box-sizing(border-box);
        @include transition(background-color .2s ease);

        &:hover, &:active, &:focus, &.active {
          -webkit-tap-highlight-color: rgba(0,0,0,0);
          outline: -webkit-focus-ring-color none 5px;
          background-color: $light-gray;
          border-right: 2px solid $Neon-Orange;
        }
      }
    }
  }
}
body.index {
  .container {
    section.about-me {
      @include columns(12);
      height: auto;
      margin-bottom: 30px;

      > h2 {
        @include font-size(40);
        display: block;
      }
      p {
        font-family: $Raleway;
        font-weight: 100;
        @include font-size(20);
        line-height: 1.5;
        margin: 0;
      }
    }
  }
}
body.index .container section.top-albums {
  position: relative;
  @include columns(12);

  * {
    @include box-sizing(border-box);
  }
  &.loaded {
    height: 300px;
  }
  .albums-container {
    @include columns(12);
    height: 300px;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    display: block;
    @include transition(height 0.5s ease);
    background: $dark-gray;

    .albums {
      height: 300px;
      width: 20*300px;

      .album {
        margin: 0;
        padding: 0;
        float: left;
        height: 100%;
        position: relative;
        z-index: 0;
        width: 300px;

        &:hover {
          cursor: pointer;
        }
        .front {
          position: absolute;
          top: 0px;
          left: 0;
          right: 0;
          bottom: 0;

          img {
            position: absolute;
            top: 0px;
            left: 0;
            right: 0;
            bottom: 0;
            width: 300px;
          }
        }
        .back {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          display: block;
          text-align: center;
          background: rgba(50,50,50,0.8);
          padding: 35px 10px;
          opacity: 0;
          font-family: $Raleway;
          font-weight: 100;

          @include transition(opacity 0.5s ease);
          @include box-sizing(border-box);

          h1, h2, h3 {
            padding: 0;
            margin: 0;

            word-break: break-all;

            -ms-word-break: break-all;
            word-break: break-all;

            // Non standard for webkit
            word-break: break-word;

            -webkit-hyphens: auto;
               -moz-hyphens: auto;
                    hyphens: auto;
          }
          h1 {
            padding: 10px 0px;
          }
        }
      }

      .flip {
        .back {
          opacity: 1;
        }
      }
    }
  }
}
body.index .container section.top-artists {
  position: relative;
  @include columns(12);

  .artists-container {
    @include columns(12);
    @include transition(height 0.5s ease);
    background: $dark-gray;

    .artists {
      .artist {
        @include columns(12);
        display: block;
        overflow: hidden;
        position: relative;

        .front {
          float: left;
          @include columns(12);
          overflow: hidden;

          img {
            min-width: 100%;
            @include columns(12);
            height: auto;
            @include transform(scale(1.03));
          }
        }
        .back {
          float: left;
          @include columns(12);
          padding: 20px;
          @include box-sizing(border-box);
          position: absolute;
          top: 0;
          background: rgba(50,50,50,.8);
          @include transition(opacity .3s ease);
          opacity: 0;

          a {
            text-decoration: none;
          }
        }
        &.flip {
          .back {
            opacity: 1;
          }
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
body.index .container section.top-tracks {
  position: relative;
  @include columns(12);

  .tracks-container {
    @include columns(12);
    height: auto;
    @include transition(height 0.5s ease);
    background: $dark-gray;
    margin: 0;

    .tracks {
      .track:nth-child(2n+1) {
        background: $grayer;
      }
      .track:nth-child(2n) {
        background: $dark-gray;
      }
      .track {
        position: relative;
        height: 64px;
        @include columns(12);
        display: block;
        float: left;
        overflow: hidden;
        @include box-sizing(border-box);

        .front, .back {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          @include columns(12);
        }

        .back {
          @include box-sizing(border-box);
          padding-left: 80px;
          height: auto;
          padding-top: 10px;
          top: 0;

          @include transition(top);
          @include transition-duration(0.5s);
          @include transition-timing-function(ease-in-out);

          h2, h1, h3 {
            @include font-size(15);
            margin: 0 0 10px;
            white-space: nowrap;
          }
          h3 {
            @include columns(12);
          }
        }
        &.flip .back {
          top: -29px;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
body.index .container section.top-movies {
  &.loaded {
    height: 300px;
  }
  .movies-container {
    @include columns(12);
    height: 300px;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    display: block;
    @include transition(height 0.5s ease);
    background: $dark-gray;
    margin: 0;

    .movies {
      height: 300px;
      width: 16*200px;

      .movie {
        margin: 0;
        padding: 0;
        float: left;
        height: 100%;
        margin-bottom: -4px;
        position: relative;
        z-index: 0;
        width: 200px;
        overflow: hidden;

        img {
          width: auto;
          height: 300px;
          position: relative;
        }
      }
    }
  }
}
@include mq(600px) {
  body.index .container {
    section {
      &.top-albums, &.top-artists, &.top-tracks, &.top-movies {
        @include columns(9);
        float: left;

        &.loaded {
          margin: 0 0 30px;
        }
      }
      &.top-tracks.loaded, &.top-artists.loaded {
        @include columns(6);
        margin-left: $gutter;
      }
    }
    div#section-buttons {
      @include columns(3);
      float: left;

      button {
        text-align: left;
        padding: 21px 0px;
        @include transition(padding-left .2s ease);

        &:hover {
          padding-left: 10px;
        }
      }
    }
  }
}