@import "../styles";

body.index {
  spinner {
    width: 100%;
    padding-top: 100%;
    display: block;
  }
  .content {
    min-height: 300px;
  }
  nav {
    border-bottom: none;

    a.index {
      color: $Neon-Orange;
      background: $dark-gray;
      border-right: 1px solid $gray;

      &:hover {
        background: $dark-gray;
        color: $Neon-Orange;
        cursor: default;
      }
    }
    a.work {
      border-left: none;
    }
  }
  section {
    @include columns(12);
    margin-bottom: 30px;
    @include box-sizing(border-box);
    position: relative;
    overflow: hidden;
    @include transition(height 0.5s ease);
    height: auto;
    background: $dark-gray;

    > h2 {
      @include columns(12);
      margin: 0;
      @include font-size(50);
      font-family: $Raleway;
      font-weight: 100;
      @include text-shadow(0px 1px 0px $text-border,
                           0px 2px 0px $text-border);
      color: $Neon-Orange;
      @include box-sizing(border-box);
      @include transition(font-size .5s ease);
      border-bottom: 2px solid $Neon-Orange;
      background: $gray;

      a {
        width: auto;
        float: none;
      }
    }
    &.about-me {
      @include columns(12);
      height: auto;
      background: $gray;

      > h2 {
        @include font-size(40);
        display: block;
        margin-bottom: 10px;
      }
    }
    p {
      margin: 0 0 10px;
    }
    @include columns(12);
    float: left;

    &.instagram, &.albums {
      h2 a {
        float: none;
        width: auto;
      }
      a {
        width: 50%;
        float: left;
        opacity: 1;
        position: relative;
        padding-top: 50%;
        height: 0;

        img {
          position: absolute;
          width: 100%;
          top: 0;
          left: 0;
        }
      }
    }
    &.blog {
      background: $gray;

      > div {
        padding-top: 1em;
      }
      .dot-dot-dot {
        @include font-size(60);
        line-height: 10px;
      }
      .blog_tile {
        line-height: 1.5;
        width: 100%;
        display: block;
        float: left;
        padding-right: 30px;
        overflow: hidden;
        border-radius: 4px;
        @include box-sizing(border-box);
        color: $text-gray;
        margin-bottom: 30px;
        position: relative;

        h2 {
          margin: 0;
          line-height: 1;
        }
        time {
          @include font-size(16);
          line-height: 1;
        }

        a {
          color: $Neon-Orange;

          &:hover {
            color: $text-gray;
          }
        }
      }

      a.image-holder {
        width: 100%;
        display: block;
        margin-bottom: .5em;
        img {
          width: 100%;
          display: block;
        }
        &.panorama {
          img {
          }
        }
        &.last {
          margin-bottom: 0;
        }
      }
      div {
        &.row {
          overflow: hidden;
        }
        &.apple-map {
          @include columns(4);
          @include image-2x('/images/blog/AppleCampus2/1x/apple-campus-2-map.jpg', '/images/blog/AppleCampus2/2x/apple-campus-2-map.jpg');
          background-position: center center;
          background-repeat: no-repeat;
          padding-top: 49.549718023%;
          float: left;
          background-size: auto 100%;
          margin-left: 0;
        }
        &.apple-rendering {
          @include columns(8);
          @include image-2x('/images/blog/AppleCampus2/1x/Apple_Campus_2_rendering.jpg', '/images/blog/AppleCampus2/2x/Apple_Campus_2_rendering.jpg');
          background-position: center center;
          background-repeat: no-repeat;
          padding-top: 49.549718023%;
          float: left;
          background-size: auto 100%;
          margin-right: $gutter;
        }
      }
      blockquote {
        border-left: 5px solid $Neon-Orange;
        margin: 0;
        padding: 40px;

        p {
          margin: 0;
        }
      }
    }
  }

  .blog_container {
    max-width: 800px;
    margin: auto;
  }
}

@include mq(450px) {
  body.index section {
    &.about-me {
      @include font-size(30);
    }
    &.instagram, &.albums {
      a {
        width: 33.3%;
        padding-top: 33.3%;
      }
    }
  }
}

@include mq(600px) {
  body.index section {
    &.instagram, &.albums {
      @include columns(6);

      &.full {
        @include columns(12);
      }
    }
    &.albums {
      margin-left: $gutter;
      &.full {
        margin-left: 0;
      }
    }
    &.instagram, &.albums {
      a {
        width: 50%;
        padding-top: 50%;
      }
      &.full {
        a {
          width: 25%;
        padding-top: 25%;
        }
      }
    }
  }
}

@include mq(768px) {
  body.index section {
    &.instagram, &.albums {
      a {
        width: 33.3%;
        padding-top: 33.3%;
      }
    }
    &.blog {
      .blog_tile {
        width: 50%;
      }
    }
  }
}
