@import "../styles";








section.work {

  > h2 {
    margin-bottom: 10px;
  }

  .work-tile {
    width: 100%;
    height: 0;
    padding-top: 100%;
    z-index: 0;
    @include transform(scale(1));
    @include transition(transform .2s ease, z-index .2s ease);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 70%;
    position: relative;
    z-index: 0;

    &.nest {
      background-color: #2FC9EF;
      background-image: url('/images/work/nest.png');
    }
    &.principal {
      background-color: #FFFFFF;
      @include image-2x('/images/work/principal.jpg', '/images/work/principal_2x.jpg');
    }
    &.smith {
      background-color: #EFEFEF;
      background-image: url('/images/work/smith.png');
    }
    &.graceland {
      background-color: #FFFFFF;
      background-image: url('/images/work/graceland.jpg');
    }
    &.anders {
      background-color: #F5B547;
      background-image: url('/images/work/anders.png');
    }
    &:hover {
      @include transform(scale(.98));
      z-index: 1;
    }
  }
  .links {
    margin: 20px;
    margin-bottom: 0;
  }
}








@include mq(440px) {
  section.work {
    .work-tile {
      padding-top: 50%;
      width: 50%;
      float: left;

      &.nest {
        width: 100%;
      }
    }
  }
}








html.lt-ie9 {
  section.work {
    .work-tile, .work-tile.nest {
      width: 100%;
      padding-top: 40%;
    }
  }
}