<% wrap_layout :layout do %>

  <%= yield %>

  <% if data.page.tags == "Story" %>
    <div clas="disclaimer">
      &ast;&nbsp;Not all of these stories are mine, some are from family members.
    </div>
  <% end %>
<% end %>