<% wrap_layout :layout do %>
  <div class="blog_container">
    <h1>
      <%= data.page.title %>
      <div class="blog-date">
        (<%= data.page.date.strftime('%m/%d/%Y') %>)
      </div>
    </h1>

    <%= yield %>

    <% if data.page.tags == "Story" %>
      <div clas="disclaimer">
        &ast;&nbsp;Not all of these stories are mine, some are from family members.
      </div>
    <% end %>
  </div>
<% end %>