<ul class="social-likes">
  <li>
    <%= partial "partials/fb" %>
  </li>
  <li>
    <%= partial "partials/g_plus" %>
  </li>
  <li>
    <%= partial "partials/tweet" %>
  </li>
  <li>
    <%= partial "partials/pin" %>
  </li>
</ul>