<section>
    <h1>Programming</h1>
    <ul> 
        <li><a href="http://www.w3.org/TR/html5/">HTML5</a></li>
        <li><a href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets">CSS3</a></li>
        <li><a href="http://compass-style.org/">Compass</a></li>
        <li><a href="http://en.wikipedia.org/wiki/JavaScript">Javascript</a></li>
        <li><a href="http://jquery.com/">JQuery</a></li>
    </ul>
</section>
<section>
    <h1>Hosting</h1>
    <ul> 
        <li><a href="http://aws.amazon.com/">Amazon AWS</a></li>
        <li>EC2 Instance</li>
        <li>Cloud Front</li>
        <li>Route 53</li>
    </ul>
</section>
<section>
    <h1>DNS</h1>
    <ul> 
        <li><a href="http://www.hover.com">Hover.com</a></li>
    </ul>
</section>
<section>
    <h1>Other Technologies</h1>
    <ul> 
        <li><a href="http://necolas.github.io/normalize.css/">Normalize.css</a></li>
        <li><a href="http://www.photoshop.com/">Photoshop</a></li>
        <li><a href="http://www.last.fm/">Last.FM</a></li>
        <li><a href="http://rubyonrails.org/">Ruby</a></li>
        <li><a href="http://middlemanapp.com/">Middleman</a></li>
        <li><a href="http://www.google.com">Lots of Google</a></li>
        <li>Built on a Mac</li>
    </ul>
</section>