---
title:
description:
type: "profile"
---




<%= partial "partials/about_me" %>



<section class="instagram">
  <h2><a target="_blank" href="http://instagram.com/briananders" title="My Instagram profile">Instagram</a></h2>
</section>



<section id="music" class="albums">
  <h2><a target="_blank" href="http://www.last.fm/user/iBrianAnders" title="My Last.fm profile">Scrobbles</a></h2>
</section>



<%= partial "partials/work" %>



<%= partial "partials/blog" %>

