---
title: 
---

<section class="about-me">
	<h2>About Me</h2>
	<p>
		Hi, I'm Brian Anders, Front End Web Developer at <a href="http://www.nest.com">Nest Labs</a>. 
	</p>
</section>

<section class="top-albums">
	<h2>Top Plays</h2>
	<div class="albums-container">
		<div class="albums">
		</div>
	</div>
</section>

<section class="top-artists">
	<h2>Top Artists</h2>
	<div class="artists-container">
		<div class="artists">
		</div>
	</div>
</section>

<section class="top-tracks">
	<h2>Top Songs</h2>
	<div class="tracks-container">
		<div class="tracks">
		</div>
	</div>
</section>

<section class="movies">
	<h2>10 Star Movies</h2>
	<div class="movie-container">
		<div class="movies">
			<div class="movie">
				<img src="images/movies/fightclub.jpg">
				<div class="back">
					<h2>Fight Club</h2>
				</div>
			</div>
			<div class="movie">
				<img src="images/movies/catchme.jpg">
				<div class="back">
					<h2>Catch Me If You Can</h2>
				</div>		
			</div>
			<div class="movie">
				<img src="images/movies/dragontattoo.jpg">
				<div class="back">
					<h2>The Girl with the Dragon Tattoo</h2>
				</div>		
			</div>
			<div class="movie">
				<img src="images/movies/starwars.jpg">
				<div class="back">
					<h2>Star Wars: A New Hope</h2>
				</div>		
			</div>
			<div class="movie">
				<img src="images/movies/empirestrikesback.jpg">
				<div class="back">
					<h2>Star Wars: Empire Strikes Back</h2>
				</div>		
			</div>
			<div class="movie">
				<img src="images/movies/returnofthejedi.jpg">
				<div class="back">
					<h2>Star Wars: Return of the Jedi</h2>
				</div>		
			</div>
			<div class="movie">
				<img src="images/movies/raiders.jpg">
				<div class="back">
					<h2>Raiders of the Lost Ark</h2>
				</div>		
			</div>
			<div class="movie">
				<img src="images/movies/lastcrusade.jpg">
				<div class="back">
					<h2>Indiana Jones: The Last Crusade</h2>
				</div>		
			</div>
			<div class="movie">
				<img src="images/movies/limitless.jpg">
				<div class="back">
					<h2>Limitless</h2>
				</div>		
			</div>
			<div class="movie">
				<img src="images/movies/minorityreport.jpg">
				<div class="back">
					<h2>Minority Report</h2>
				</div>		
			</div>
			<div class="movie">
				<img src="images/movies/tintin.jpg">
				<div class="back">
					<h2>The Adventures of Tintin</h2>
				</div>		
			</div>
			<div class="movie">
				<img src="images/movies/startrek.jpg">
				<div class="back">
					<h2>Star Trek: Into Darkness</h2>
				</div>		
			</div>
			<div class="movie">
				<img src="images/movies/inception.jpg">
				<div class="back">
					<h2>Inception</h2>
				</div>		
			</div>
			<div class="movie">
				<img src="images/movies/tron.jpg">
				<div class="back">
					<h2>Tron: Legacy</h2>
				</div>		
			</div>
			<div class="movie">
				<img src="images/movies/drive.jpg">
				<div class="back">
					<h2>Drive</h2>
				</div>		
			</div>
			<div class="movie">
				<img src="images/movies/shutterisland.jpg">
				<div class="back">
					<h2>Shutter Island</h2>
				</div>		
			</div>
			<div class="movie">
				<img src="images/movies/snatch.jpg">
				<div class="back">
					<h2>Snatch</h2>
				</div>		
			</div>
			<div class="movie">
				<img src="images/movies/jurassicpark.jpg">
				<div class="back">
					<h2>Jurassic Park</h2>
				</div>		
			</div>
			<div class="movie">
				<img src="images/movies/greenmile.jpg">
				<div class="back">
					<h2>The Green Mile</h2>
				</div>		
			</div>
			<div class="movie">
				<img src="images/movies/avatar.jpg">
				<div class="back">
					<h2>Avatar</h2>
				</div>		
			</div>
			<div class="movie">
				<img src="images/movies/super8.jpg">
				<div class="back">
					<h2>Super 8</h2>
				</div>		
			</div>
			<div class="movie">
				<img src="images/movies/sherlockholmes.jpg">
				<div class="back">
					<h2>Sherlock Holmes</h2>
				</div>		
			</div>
			<div class="movie">
				<img src="images/movies/vanillasky.jpg">
				<div class="back">
					<h2>Vanilla Sky</h2>
				</div>		
			</div>
			<div class="movie">
				<img src="images/movies/spygame.jpg">
				<div class="back">
					<h2>Spy Game</h2>
				</div>		
			</div>
			<div class="movie">
				<img src="images/movies/savingprivateryan.jpg">
				<div class="back">
					<h2>Saving Private Ryan</h2>
				</div>		
			</div>
		</div>
	</div>
</section>