<div class="about-me">
  <p>
    I'm a Web Developer at <a href="http://www.nest.com">Nest</a>. I graduated in May of 2013 from <a href="http://www.graceland.edu/">Graceland University</a> in <a href="http://www.lamoni-iowa.com/">Lamoni, IA</a>. My majors were Computer Science/<span>&shy;</span>Infor<span>&shy;</span>mation Tech<span>&shy;</span>nology and Math<span>&shy;</span>ematics with a minor in Web Design. While at Graceland I competed in several prog<span>&shy;</span>ram<span>&shy;</span>ming compet<span>&shy;</span>itions. Also, I competed in three robotics compet<span>&shy;</span>itions, placing second at two of them.
  </p>
</div>
<a href="http://www.nest.com">
    <section class="nest">
    </section>
</a>
<a href="http://www.principal.com/index.shtm">
    <section class="principal">
    </section>
</a>
<a href="http://www.smithweb.com/">
    <section class="smith">
    </section>
</a>
<a href="http://www.graceland.edu/">
    <section class="graceland">
    </section>
</a>
<a href="https://www.facebook.com/pages/Anders-Crane-Service/240049426876">
    <section class="anders">
    </section>
</a>